@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: rgb(206, 33, 53);
  --secondary-color: rgb(250, 84, 104);
  --dark-color: rgb(0, 0, 0);
  --light-color: rgb(255, 228, 231);

  --font-family-heading: 'Pacifico', sans-serif;
  --font-family-body: 'Poppins', sans-serif;

  --small-font-size: 0.875rem;
  --font-size: 1.25rem;
  --header-font-size: 3rem;

  --padding: 1rem;
  --border-radius: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* next time use min-height: 100dvh*/
  position: relative;
  z-index: 0;
  font-family: var(--font-family-body);
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('assets/background.jpg');
  background-repeat: repeat;
  opacity: 0.3;
  z-index: -1;
}

header {
  position: sticky;
  inset: 0;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: var(--padding);
  z-index: 2;
  touch-action: none;
  box-shadow: 0 5px 15px rgb(102, 17, 27);
}

header > button {
  background-color: var(--primary-color);
  cursor: pointer;
  border: none;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-family-heading);
  font-size: clamp(2.5rem, 10vw, var(--header-font-size));
  color: var(--dark-color);
}

.logo {
  background-image: url('assets/logo.svg');
  background-size: contain;
  background-position: center;
  width: clamp(80px, 20vw, 100px);
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

nav {
  margin-left: auto;
  display: flex;
  gap: clamp(3rem, 6vw, 8.25rem);
}

nav > button {
  background-color: var(--primary-color);
  color: var(--dark-color);
  border: none;
  font-size: var(--font-size);
  font-weight: bold;
  cursor: pointer;
  padding: var(--padding);
  border-radius: var(--border-radius);
  transition: background-color 0.15s ease-in;
}

nav > button:hover {
  background-color: var(--secondary-color);
}

.drop-down-menu-toggle {
  display: none;
}

#content {
  margin-top: clamp(2rem, 6vw, 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(2rem, 6vw, 4rem);
  width: 100%;
}

.heading-wrapper {
  position: relative;
  transform: scale(1);
}

.heading-border {
  position: absolute;
  inset: 0;
  background-color: var(--dark-color);
  clip-path: polygon(73% 0%, 98% 50%, 73% 100%, 27% 100%, 2% 50%, 27% 0%);
  transform: scale(1.15);
  z-index: 0;
}

.heading-content {
  background-color: var(--primary-color);
  font-size: var(--font-size);
  padding: 0.3125rem 3.125rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
  z-index: 1;
}

.gordon-images {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}


.gordon-left,
.gordon-right {
  object-fit: cover;
  object-position: center;
  width: clamp(0px, calc(25% - 100px), 300px);
  max-width: 100%;
  aspect-ratio: 1 / 1;
  position: absolute;
}

.gordon-left {
  right: 75%;
}

.gordon-right {
  left: 75%;
}

.giant-logo {
  object-fit: contain;
  object-position: center;
  width: clamp(300px, 80%, 400px);
  aspect-ratio: 1 / 1;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(3rem, 6vw, 4rem);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  font-size: clamp(var(--small-font-size), 2vw, var(--font-size));
  margin: 0 auto;
  width: clamp(250px, 90%, 600px);
  padding: clamp(var(--header-font-size), 5vw, var(--font-size));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.menu-container {
  background-color: var(--primary-color);
  display: flex;
  width: 100%;
  min-height: 500px;
}

.chicken-nugget-image {
  background-image: url('assets/nugget.png');
  background-size: cover;
  background-position: center;
  width: clamp(150px, 65%, 600px);
  aspect-ratio: 1 / 1;
}

.menu-main {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: clamp(var(--padding), 3vw, 2rem);
}

.menu-main > .header {
  position: relative;
}

.menu-main > .header > h1 {
  font-size: clamp(2rem, 6vw, 5rem);
  white-space: nowrap;
}

.menu-main > .header > .front {
  color: var(--light-color);
  z-index: 1;
}

.menu-main > .header > .back {
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  z-index: 0;
}

.menu-main > p {
  font-size: clamp(var(--small-font-size), 2vw, var(--font-size));
  width: clamp(200px, 60vw, 500px);
}

.menu-main > button {
  align-self: flex-start;
  background-color: var(--light-color);
  color: var(--dark-color);
  border: none;
  font-size: clamp(var(--small-font-size), 2vw, var(--font-size));
  font-weight: bold;
  cursor: pointer;
  padding: clamp(0.75rem, 2vw, var(--padding));
  border-radius: var(--border-radius);
  transition: background-color 0.15s ease-in;
}

.menu-main > button:hover {
  background-color: white;
}

.hours {
  background-color: var(--dark-color);
  color: white;
  display: flex;
  width: 100%;
}

.restaurant {
  background-image: url('assets/restaurant.png');
  background-size: cover;
  background-position: center;
  width: clamp(150px, 85%, 600px);
  aspect-ratio: 1 / 1;
  margin-left: auto;
}

.hours-main {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: clamp(var(--padding), 3vw, 2rem);
}

.hours-main > h1 {
  font-size: clamp(2rem, 6vw, 5rem);
  white-space: nowrap;
}

.hours-main > table {
  border-collapse: collapse;
  font-size: clamp(var(--small-font-size), 2vw, var(--font-size));
}

td, th {
  border: 1px solid white;
  padding: var(--padding);
  text-align: left;
  white-space: nowrap;
}

.review-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: clamp(var(--padding), 3vw, 2rem);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: var(--border-radius);
  padding: var(--padding);
  width: 90%;
  min-width: 320px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.review-container > h1 {
  font-size: clamp(2rem, 6vw, 5rem);
}

.review-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(2rem, 6vw, 4rem);
}

.review {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 220px;
  max-width: 320px;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.profile-pic {
  object-fit: cover;
  object-position: center;
  width: clamp(100px, 15vw, 120px);
  max-width: 100%;
  aspect-ratio: 1 / 1;
  margin: var(--padding) var(--padding) 0 var(--padding);
}

.profile-name {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

.review-content {
  text-align: center;
  font-size: clamp(var(--small-font-size), 1.5vw, var(--font-size));
  padding: var(--padding);
  display: flex;
  justify-content: center;
}

.outro-container {
  width: clamp(320px, 50%, 900px);
}

.dialogue {
  background-color: var(--light-color);
  padding: clamp(var(--header-font-size), 5vw, var(--font-size));
  text-align: center;
  border-radius: var(--border-radius);
  position: relative;
  border: 2px solid var(--dark-color);
}

.dialogue:before{
  content: "";
  position: absolute;
  right: 120px;
  bottom: -30px;

  border-left: 52px solid transparent;
  border-right: 54px solid transparent;
  border-top: 54px solid var(--dark-color);
  transform: rotate(90deg);
}

.dialogue:after {
  content: "";
  position: absolute;
  right: 120px;
  bottom: -30px;

  border-left: 49px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid var(--light-color);
  transform: rotate(90deg);
}

.dialogue > p,
.dialogue > p > button {
  font-size: clamp(var(--small-font-size), 2vw, var(--font-size));
}

.dialogue > p > button {
  border: none;
  background-color: var(--light-color);
  cursor: pointer;
  color: var(--primary-color);
}

.dialogue > p > button:hover {
  text-decoration: underline;
}

.gordon-fullbody {
  display: block;
  object-fit: contain;
  object-position: center;
  width: clamp(150px, 30%, 200px);
  aspect-ratio: 1 / 3;
  margin-left: auto;
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2rem;
  font-size: clamp(var(--small-font-size), 2vw, var(--font-size));
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .drop-down-menu-toggle {
    display: block;
    position: relative;
    margin-left: auto;
  }

  .drop-down-menu-toggle > button {
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    padding: var(--padding);
    border-radius: var(--border-radius);
    transition: background-color 0.15s ease-in;
  }

  .drop-down-menu-toggle > button:hover {
    background-color: var(--secondary-color);
  }

  .three-horizontal-lines {
    background-image: url('assets/three-horizontal-lines-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
  }

  .drop-down-menu-toggle > ul {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    background-color: var(--primary-color);
  }

  .drop-down-menu-toggle.open > ul {
    display: block;
  }

  .drop-down-menu-toggle > ul > li > button {
    background-color: var(--primary-color);
    color: var(--dark-color);
    padding: var(--padding) calc(var(--padding) * 1.9);
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--dark-color);
    font-size: var(--small-font-size);
    font-weight: bold;
    text-align: center;
    transition: background-color 0.15s ease-in;
    cursor: pointer;
  }

  .drop-down-menu-toggle > ul > li > button:hover {
    background-color: var(--secondary-color);
  }
}

@media (max-width: 400px) {
  .heading-wrapper {
    transform: scale(0.85);
  }

  .gordon-left,
  .gordon-right {
    display: none;
  }
}