@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: rgb(206, 33, 53);
  --secondary-color: rgb(250, 84, 104);
  --dark-color: rgb(0, 0, 0);
  --light-color: rgb(255, 228, 231);
  --font-family-heading: 'Pacifico', sans-serif;
  --font-family-body: 'Poppins', sans-serif;
  --small-font-size: 1.25rem;
  --large-font-size: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  z-index: 0;
  font-family: var(--font-family-body);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('assets/background.jpg');
  background-repeat: repeat;
  opacity: 0.5;
  z-index: -1;
}

header {
  position: sticky;
  inset: 0;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  z-index: 1;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-family: var(--font-family-heading);
  font-size: clamp(var(--small-font-size), 8vw + 1rem, var(--large-font-size));
  color: var(--dark-color);
  padding-right: 0.625rem;
}

.logo {
  background-image: url('assets/logo.svg');
  background-size: contain;
  background-position: center;
  width: 100px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

nav {
  margin-left: auto;
  display: flex;
  gap: clamp(3rem, 6vw, 8.25rem);
  padding-right: 1rem;
}

nav > button,
.menu-toggle {
  background-color: var(--primary-color);
  border: none;
  font-size: var(--small-font-size);
  font-weight: bold;
  cursor: pointer;
  padding: 0.625rem 1.25rem;
  border-radius: 15px;
  transition: background-color 0.15s ease-in;
}

button:hover {
  background-color: var(--secondary-color);
}

.menu-toggle {
  display: none;
}

#content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.heading-wrapper {
  position: relative;
}

.heading-border {
  position: absolute;
  inset: 0;
  background-color: var(--dark-color);
  clip-path: polygon(73% 0%, 98% 50%, 73% 100%, 27% 100%, 2% 50%, 27% 0%);
  transform: scale(1.15);
  z-index: 0;
}

.heading-content {
  background-color: var(--primary-color);
  font-size: var(--small-font-size);
  padding: 5px 50px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
  z-index: 1;
}

.gordon-images {
  display: flex;
  align-items: center;
}

.gordon-left {
  background-image: url('assets/gordon-left.png');
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  position: absolute;
  right: 75%;
}

.giant-logo {
  background-image: url('assets/logo.svg');
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
}

.gordon-right {
  background-image: url('assets/gordon-right.png');
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 300px;
  position: absolute;
  left: 75%;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin: 0 auto;
  width: 75%;
  max-width: 600px;
  height: auto;
  min-height: 200px;
  padding: 20px;
}

.menu-container {
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
}

.chicken-nugget-image {
  background-image: url('assets/nugget.png');
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 300px;
}

.hours {
  background-color: var(--light-color);
  display: flex;
}

.restaurant {
  background-image: url('assets/restaurant.png');
  background-size: cover;
  background-position: center;
  width: 1000px;
  height: 1000px;
}

.reviews {
  display: flex;
  gap: 50px;
}

.review {
  background-color: rgba(255, 228, 231, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
}

.pic1 {
  background-image: url('assets/girl1.png');
}

.pic2 {
  background-image: url('assets/boy.png');
}

.pic3 {
  background-image: url('assets/girl2.png');
}

.gordon-fullbody {
  background-image: url('assets/gordon-fullbody.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 850px;
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 30px 0;
  font-size: var(--small-font-size);
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
    background-image: url('assets/three-horizontal-lines-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0;
  }
}