@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-background-color: rgb(206, 33, 53);
  --secondary-background-color: rgb(250, 84, 104);
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 228, 231);
  --font-heading: 'Pacifico', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --small-font-size: 20px;
  --large-font-size: 48px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  z-index: 0;
  font-family: var(--font-body);
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('assets/background.jpg');
  background-repeat: repeat;
  opacity: 0.5;
  z-index: -1;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 20px;
  z-index: 1;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-heading);
  font-size: var(--large-font-size);
  color: var(--primary-color);
}

.logo {
  background-image: url('assets/logo.svg');
  background-size: cover;
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  gap: 85px;
}

button {
  background-color: var(--primary-background-color);
  border: none;
  font-size: var(--small-font-size);
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 15px;
  transition: background-color 0.15s ease-in;
}

button:hover {
  background-color: var(--secondary-background-color);
}

#content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.heading-wrapper {
  position: relative;
}

.heading-border {
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  clip-path: polygon(73% 0%, 98% 50%, 73% 100%, 27% 100%, 2% 50%, 27% 0%);
  transform: scale(1.15);
  z-index: 0;
}

.heading-content {
  background-color: var(--primary-background-color);
  font-size: var(--small-font-size);
  padding: 5px 50px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
  z-index: 1;
}

.gordon-images {
  display: flex;
  align-items: center;
}

.gordon-left {
  background-image: url('assets/gordon-left.png');
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  position: absolute;
  right: 75%;
}

.giant-logo {
  background-image: url('assets/logo.svg');
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
}

.gordon-right {
  background-image: url('assets/gordon-right.png');
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 300px;
  position: absolute;
  left: 75%;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin: 0 auto;
  width: 75%;
  max-width: 600px;
  height: auto;
  min-height: 200px;
  padding: 20px;
}

.menu-container {
  background-color: var(--primary-background-color);
  color: var(--secondary-color);
  display: flex;
}

.chicken-nugget-image {
  background-image: url('assets/nugget.png');
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 300px;
}

.hours {
  background-color: var(--secondary-color);
  display: flex;
}
.restaurant {
  background-image: url('assets/restaurant.png');
  background-size: cover;
  background-position: center;
  width: 1000px;
  height: 1000px;
}